* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#canvas-container {
  border: 1px solid #ccc;
  height: 75vh;
  width: 50vh;
  aspect-ratio: 1.5/1 !important;
  overflow: scroll;
}
.tool {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.tool.selected {
  border: 2px solid #000;
  transform: scale(1.2);
}
.controls button.active {
  background: limegreen;
  font-weight: bold;
}
.eraser-options {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 5px;
}
#eraser:hover .eraser-options {
  display: block;
}
